html,
body {
  @apply bg-primary-lightest;
}

a,
button {
  @apply transition-all duration-200 ease-out;

  &.outline-none {
    @apply outline-none;
  }
}

@responsive {
  .container {
    @apply mx-auto px-6 lg:px-8 xl:px-10;
  }
}

.btn {
  @apply relative inline-block h-10 px-5 py-3 rounded bg-primary-light text-sm leading-tight text-center font-semibold tracking-wide uppercase cursor-pointer;

  &:hover {
    @apply bg-primary-darker text-primary-lightest;
  }

  &:focus {
    @apply outline-none shadow-outline;
  }

  &.disabled,
  &.loading {
    @apply bg-primary-lighter text-primary-med pointer-events-none;

    &:hover {
      @apply bg-primary-lighter text-primary-med;
    }
  }

  &.loading {
    @apply cursor-wait;
  }

  &.dark {
    @apply bg-primary-darker text-primary-lightest;

    &:hover {
      @apply bg-primary-darkest;
    }
  }

  &.light {
    @apply bg-primary-light text-primary-darkest;

    &:hover {
      @apply bg-primary-med;
    }
  }

  &.light-error {
    @apply bg-primary-light text-primary-darkest;

    &:hover {
      @apply bg-error-default text-primary-lightest;
    }
  }

  &.lighter {
    @apply bg-primary-lighter;

    &:hover {
      @apply bg-primary-lightest text-accent-default;
    }
  }
}

.btn--main,
.btn--lg {
  @apply h-14 bg-primary-darkest text-primary-lightest;

  &.disabled,
  &.loading {
    @apply bg-primary-med text-primary-lightest;

    &:hover {
      @apply bg-primary-med text-primary-lightest;
    }
  }
}

.btn--lg {
  @apply block py-5;
}

.btn-icon {
  @apply w-10 h-10 bg-primary-light rounded-sm;

  &:hover {
    @apply bg-primary-darker text-primary-lightest;
  }
}

img {
  &.loaded {
    transition: opacity 0.4s ease;
    opacity: 1 !important;
  }

  &.loading {
    opacity: 0;
  }
}

img {
  &.loaded {
    transition: opacity 0.4s ease;
    opacity: 1 !important;
  }

  &.loading {
    opacity: 0;
  }
}

img {
  &.loaded {
    transition: opacity 0.4s ease;
    opacity: 1 !important;
  }

  &.loading {
    opacity: 0;
  }
}

.cta-link {
  @apply inline-block mb-3 pb-1 border-b rounded-none border-primary-darkest;

  &.light {
    @apply text-primary-lightest border-primary-lightest;
  }

  &.lighter {
    @apply text-primary-lighter border-primary-lighter;
  }
}

.label-tag {
  @apply ml-1 px-2 py-1 uppercase text-2xs rounded font-semibold leading-tight;
}

.label-tag--sale {
  @apply bg-error-faded text-error-default;
}

.loader-el {
  @apply bg-primary-light rounded-sm animate-pulse;
}

.checkbox {
  @apply flex pb-1;

  & input {
    @apply p-0 m-0 border-0 appearance-none w-0 h-0 invisible;
  }

  & input:checked + label {
    & .indicator {
      @apply bg-primary-darkest border-primary-darkest;
    }
  }

  & label {
    @apply relative flex items-center appearance-none cursor-pointer;

    & .indicator {
      @apply flex justify-center items-center cursor-pointer w-6 h-6 border border-primary-med rounded;
      transition: all 0.2s ease;
    }

    & p {
      @apply ml-0;
    }
  }

  & .check {
    &:hover {
      opacity: 1;
    }
  }
}
