/* Base */
@import './variables.css';
@import 'tailwindcss/base';
@import './typography.css';
@import './transitions.css';
@import './globals.css';

/* Components */
@import 'tailwindcss/components';

/* Utilities */
@import 'tailwindcss/utilities';
@import './utilities.css';
