@variants responsive {
  .center-x {
    @apply left-1/2 -translate-x-1/2 transform;
  }

  .center-y {
    @apply top-1/2 -translate-y-1/2 transform;
  }

  .center-xy {
    @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .center-offset-bottom {
    transform: translate(-50%, calc(-50% + 5rem));
  }

  .h-vh-gap {
    height: calc(100vh - 6rem);
  }

  .w-full-px-6 {
    width: calc(100% - theme('spacing.6'));
  }

  .w-full-px-12 {
    width: calc(100% - theme('spacing.12'));
  }
}

/* Vue custom transition classes */

.popup-enter-active .overlay,
.popup-leave-active .overlay {
  @apply transition-all duration-500 ease-in-out;
}

.popup-enter .overlay,
.popup-leave-to .overlay {
  @apply opacity-0;
}

.popup-enter-to .overlay,
.popup-leave .overlay {
  @apply opacity-50;
}

.popup-enter-active .panel,
.popup-leave-active .panel {
  @apply transition-all duration-700;
  transition-timing-function: cubic-bezier(0.6, 0.2, 0, 1);
}

.popup-enter .panel,
.popup-leave-to .panel {
  @apply md:center-offset-bottom translate-y-full transform md:opacity-0;
}

.popup-enter-to .panel {
  @apply md:center-xy translate-y-0 transform md:opacity-100;
}

.float-enter-active .overlay,
.float-leave-active .overlay {
  @apply transition-all duration-500 ease-in-out;
}

.float-enter .overlay,
.float-leave-to .overlay {
  @apply opacity-0;
}

.float-enter-to .overlay,
.float-leave .overlay {
  @apply opacity-50;
}

.float-enter-active .panel,
.float-leave-active .panel {
  @apply transition-all duration-500;
  transition-timing-function: cubic-bezier(0.6, 0.2, 0, 1);
}

.float-enter .panel,
.float-leave-to .panel {
  @apply md:center-offset-bottom translate-y-1/4 transform opacity-0;
}

.float-enter-to .panel {
  @apply md:center-xy translate-y-0 transform opacity-100;
}

.slide-modal-rtl-enter-active .overlay,
.slide-modal-rtl-leave-active .overlay,
.slide-modal-ltr-enter-active .overlay,
.slide-modal-ltr-leave-active .overlay {
  @apply transition-all duration-500 ease-in-out;
}

.slide-modal-rtl-enter .overlay,
.slide-modal-rtl-leave-to .overlay,
.slide-modal-ltr-enter .overlay,
.slide-modal-ltr-leave-to .overlay {
  @apply opacity-0;
}

.slide-modal-rtl-enter-to .overlay,
.slide-modal-rtl-leave .overlay,
.slide-modal-ltr-enter-to .overlay,
.slide-modal-ltr-leave .overlay {
  @apply opacity-50;
}

.slide-modal-rtl-enter-active .panel,
.slide-modal-rtl-leave-active .panel,
.slide-modal-ltr-enter-active .panel,
.slide-modal-ltr-leave-active .panel {
  @apply transition-all duration-700;
  transition-timing-function: cubic-bezier(0.6, 0.2, 0, 1);
}

.slide-modal-rtl-enter .panel,
.slide-modal-rtl-leave-to .panel {
  @apply translate-x-full transform;
}

.slide-modal-rtl-enter-to .panel,
.slide-modal-rtl-leave .overlay,
.slide-modal-ltr-enter-to .panel,
.slide-modal-ltr-leave .overlay {
  @apply translate-x-0 transform;
}

.slide-modal-ltr-enter .panel,
.slide-modal-ltr-leave-to .panel {
  @apply -translate-x-full transform;
}
